.mainlivre {
  display: flex;
  margin: 0 200px 100px 200px;
  .left {
    position: relative;
    background-color: #f9dec9;
    border-radius: 5px;
    height: 480px;
    min-width: 300px;
    background-color: #f9dec9;
    .book {
      position: absolute;
      top: 48%;
      left: 50%;
      max-width: 230px;
      max-height: 376px;
      transform: translate(-50%, -50%);
    }
    span {
      position: absolute;
      top: 95%;
      left: 80%;
      transform: translate(-50%, -50%);
    }
  }
  .right {
    margin-left: 15%;
    align-items: flex-end;
    position: relative;
    .title {
      margin-bottom: 20px;
      img {
        position: absolute;
        top: 5px;
      }
      h2 {
        margin-top: 0;
        margin-left: 50px;
      }
      .auteur {
        margin-top: 0;
        padding-left: 50px;
        color: #969696;
      }
    }
    p {
      color: #545454;
      padding-bottom: 30px;
    }
    .left-responsive {
      display: none;
    }
    .key_words {
      margin-bottom: 30px;
      a {
        text-decoration: none;
      }
    }
    .btn {
      display: block;
      text-align: center;
      app-button:nth-child(2) {
        display: inline-block;
        position: absolute;
        bottom: 0;
      }
    }
  }
}

/////////// responsive//////
@media (max-width: 1340px) {
  .mainlivre {
    margin: 0 50px 100px 50px;
  }
}

@media (max-width: 764px) {
  .mainlivre {
    margin: 0 5px 100px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .left {
      display: none;
    }
    .right {
      margin: 0 5px;
      .left-responsive {
        margin: auto;
        display: block;
        position: relative;
        border-radius: 5px;
        height: 480px;
        max-width: 300px;
        background-color: #f9dec9;
        .book {
          position: absolute;
          top: 48%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 230px;
          max-height: 376px;
        }
        span {
          position: absolute;
          top: 95%;
          left: 80%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
