<header class="menu topnav">
  <a href="#home" class="active">Logo</a>
  <div id="myLinks">
    <a href="">Nos livres</a>
    <a href="">Goodies</a>
    <a href="" class="lib"><img src="assets/images/logo/logo.svg" alt="logo"></a>
    <a href="">Mon compte</a>
    <a href="">Panier</a>
  </div>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <a href="" class="logolib">
    <img src="assets/images/logo/logo_without_text2.svg" alt="logo">
  </a>
  <a href="" class="panier">
    <img src="assets/images/logo/panier.svg" alt="panier">
  </a>
</header>
