.menu {
  display: block;
  margin: 0 50px 2% 50px;
  .active {
    visibility: hidden;
  }
  #myLinks {
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex-direction: row;
    align-items: center;
    a {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -0.10000000149011612px;
      text-decoration: none;
    }
  }
  .icon,
  .logolib,
  .panier {
    display: none;
  }
}
@media (max-width: 820px) {
  .menu {
    margin: 0 0 116px 0;
  }
}

//////////menu berger/////////////
@media (max-width: 720px) {
  .topnav {
    margin: 13px 13px 5px 13px;
    background-color: rgb(255, 255, 255);
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }
  #myLinks a:nth-child(3) {
    display: none;
  }

  .topnav a {
    color: #3a405a;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: rgb(255, 255, 255);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .topnav a.logolib {
    position: absolute;
    background: #3a405a;
    padding: 22px;
    border-radius: 50%;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    img {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .topnav a.panier {
    background: rgb(255, 255, 255);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }

  .active {
    visibility: visible;
    background-color: #04aa6d;
    color: white;
  }
}
