<h1 class="title">Créez votre produit dérivé
  à contre courant en vous inspirant de vos livres alternatifs favoris</h1>

<div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, deserunt?</div>
<img src="" class="image-acceuil" alt="">
<hr>

<h2 class="title">Créer ton produit</h2>
<div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, deserunt?</div>

<div>
  <div>
    <h3 class="etape"></h3>
    <section class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, illo.</section>
  </div>
  <div>
    <h3 class="etape"></h3>
    <section class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, illo.</section>
  </div>
  <div>
    <h3 class="etape"></h3>
    <section class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, illo.</section>
  </div>
</div>

<hr>

<h2 class="title">Découvrez nos nouveautés</h2>
<div class="caroussel"></div>

<hr>

<div>
  <div>
    <h4 class="item">mug</h4>
    <div class="price">15</div>
    <section class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, illo.</section>
    <button class="btn">Détails</button>
    <div class="little-annotation">Lorem ipsum dolor sit amet.</div>
  </div>
  <div>
    <h4 class="item">poster</h4>
    <div class="price">15</div>
    <section class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, illo.</section>
    <button class="btn">Détails</button>
    <div class="little-annotation">Lorem ipsum dolor sit amet.</div>
  </div>
  <div>
    <h4 class="item">T-shirt</h4>
    <div class="price">15</div>
    <section class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, illo.</section>
    <button class="btn">Détails</button>
    <div class="little-annotation">Lorem ipsum dolor sit amet.</div>
  </div>
</div>

<hr>

<div class="newsletter">
  <h3 class="title">newsletter</h3>
  <section clas>Lorem ipsum dolor sit amet.</section>
  <div class="subscription">
    <input class="email-subcription" type="text">
    <button class="btn-subcription" type="submit">Subscribe</button>
  </div>
</div>

<hr>
