<div class="mainlivre">
    <div class="left">
        <img src="assets/images/livres/livre_page_livre.png" alt="livre">
        <span>18 <img src="assets/images/logo/like.svg" alt="like"></span>
    </div>
    <div class="right">
        <span><img src="assets/images/logo/star.svg" alt="star"></span>
        <h2>Titre du Livre </h2>
        <p>Auteur</p>
        <p>Lorem Ipsum is simply du mmy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <h3>Mots-clés</h3>
        <a href="">Nom personnage</a>
        <a href="">Couleur</a>
        <a href="">Paysage</a>
        <a href="">Action</a>
        <a href="">Romance</a>
        <a href="">Illustration</a>
        <a href="">Objets</a>
    </div>
</div>
