button{
    height:40px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    &:hover{
        cursor: pointer;
    }

    &.primary
    {
        background-color: #D64933;
        color: #F9DEC9;
        border: 0;
        margin: 0;
    }

    &.secondary
    {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border: 1;
        margin: 0;
    }
}