<footer>
    <div class="logo"><img src="assets/images/logo/logo.svg" alt="logo"></div>
    <div  class="content">
        <div class="links">
            <a href="">Nos livres</a>
            <a href="">Goodies</a>
            <a href="">Aide</a>
            <a href="">Créer mon produit</a>
            <a href="">Mon compte</a>
            <a href="">Panier</a>
        </div>
        <div class="copyright">
            <span>© Copyright 2022 - Simplon Dream Team</span>
        </div>
    </div>
    <div class="social">
        <a href=""><img src="assets/images/Social_media_icons/facebook.svg" alt=""></a>
        <a href=""><img src="assets/images/Social_media_icons/instagram.svg" alt=""></a>
        <a href=""><img src="assets/images/Social_media_icons/twiter.svg" alt=""></a>
        <a href=""><img src="assets/images/Social_media_icons/youtube.svg" alt=""></a>
    </div>
</footer>