h1, h2, h3, h4{
  color: #3a405a;
}

.title {
  text-align: center;
}

hr{
  background-color:#d7d7d7;
  width: 50%;
}

.title-top {
  text-align: center;
  margin: 3rem 5rem;
}
.subtitle {
  text-align: center;
  margin: 4rem;
}

.image-acceuil {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 5rem auto;
}

.image-nav {
  width: 80%;
  border-radius: 8px;
  box-shadow: 2px 3px 8px -3px rgb(0 0 0 / 91%);
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
  .direction {
    padding-top: 4%;
  }
  .item-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
      font-size: 1.2rem;
    }
    .description{
      text-align: center;
      font-size: 0.8rem;
    }
    .img-steps{
      position: relative;
      max-width: 8%s;
      
      p{
        position: absolute;
        top: -2%;
        right: 40%;
        font-size: 2em;
        font-weight: bolder;
        color: #d64933;
      }
    }
  }
}

#carousel {
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.slide {
  width: 500px;
  height: 300px;
  float: left;
}

.produits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2%;
  margin-top: 5%;


  .item-produit {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 3px 8px -3px rgb(0 0 0 / 91%);
    justify-content: space-evenly;
    background: #ffffff;
    border: 1px solid #aec5eb;
    border-radius: 8px;
    width: 30%;
    height: 20rem;
    h4{
      margin: 0;
    }
    .popular{
      position: absolute;
      height: 1.4rem;
      background: #3a405a;
      color: white;
      text-align: center;
      width: 4.5rem;
      top: 0;
      right: 0;
      border-radius: 6px;
    }
    section {
      margin: 5%;
      text-align: center;
      font-size: 0.8rem;
      color: #585757;
    }
    .btn {
      width: 60px;
      height: 28px;
      margin: 5%;
      border: 0.1px solid #aec5eb;
      background: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05),
        0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
      border-radius: 6px;
    }
    .price {
      font-weight: bolder;
      font-size: 3rem;
      letter-spacing: -1.2px;
      color: #3a405a;
    
      section {
        text-align: center;
      }
    }
    .little-annotation{
      font-size: 0.7rem;
      color: #585757;
    }
  }
  .item-produit:hover {
    border-color: #d64933;
    transform: translateY(-20px) scale(1.05);
    transition: all 0.3s ease-in-out;
    .popular {
      background: #d64933;
      color: #f9dec9;
    }
    .btn {
      background-color: #f33f23;
      border: none;
      color: #f9dec9;
    }
  }
}
.newsletter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  margin: 5%;
  .title-news {
    margin: 0;
  }
  .text-news {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
  }
  .subscription {
    .btn-subcription {
      width: 129px;
      height: 28px;
      background: #d64933;
      /* 1 dp */

      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05),
        0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
      border-radius: 6px;
    }
    input {
      width: 250px;
      height: 28px;
      /* 1. Surface / Primary */
      background: #ffffff;
      border: 1px solid #f9dec9;
      border-radius: 6px;
      margin-right: 10px;
    }
  }
}

.carousel-bloc{
  display: flex;
  flex-direction: column;

  .carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  
    .arrow-left{
      color: #d64933;
      font-size: 2rem;
      font-weight: bolder;
    }
    .arrow-left:nth-child(n){
      content: '';
      position: absolute;
      background-color: #f9dec9;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      text-align: center;
      line-height: 3rem;
      right: 57%;
      top: 50%;
      box-shadow: 2px 3px 8px -3px rgb(0 0 0 / 91%);
    }
    .arrow-left:hover{
      cursor: pointer;
      color:#f9dec9;
      background-color: #d64933;
      transition: all 0.3s ease-in-out;
    }
    .arrow-right{
      color: #d64933;
      font-size: 2rem;
      font-weight: bolder;
    }
    .arrow-right:nth-child(n){
      content: '';
      position: absolute;
      background-color: #f9dec9;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      text-align: center;
      line-height: 3rem;
      right: 8%;
      top: 50%;
      box-shadow: 2px 3px 8px -3px rgb(0 0 0 / 91%);
    }
    .arrow-right:hover{
      cursor: pointer;
      color:#f9dec9;
      background-color: #d64933;
      transition: all 0.3s ease-in-out;
    }
  }

}



.book-card {
  background-color: #f9dec9;
  border-radius: 8px;
  width: 60%;
  height: 20rem;
  align-items: center;
  box-shadow: 2px 3px 8px -3px rgb(0 0 0 / 91%);
  padding: 1em;
  .book-card-left {
    width: 10em;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.arrow-left {
  transform: translate(-350px);
}

.book-card-right {
  flex: 1;
  padding: 3em;
  h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  p {
    margin: 0;
    font-size: 0.9em;
  }
}

@media (max-width: 830px){
  h1{
    margin: 1rem;
    font-size: 2rem;
  }
}