<h1 class="title-top">Créez votre produit dérivé
  à contre courant en vous inspirant de vos livres alternatifs favoris</h1>

<div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit massa, eleifend gravida ligula
  sed, venenatis venenatis sem. Maecenas rutrum, ligula sit amet congue iaculis, elit turpis pellentesque ex, quis
  imperdiet elit eros at massa. Nam eu est id magna mattis mollis ut non sapien.</div>
<div class="image-acceuil">
  <img class="image-nav" src="/assets/images/image/image_acceuil.jpg" alt="">
</div>

<hr>

<h2 class="title">Comment créer ton produit</h2>
<div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit massa, eleifend gravida ligula
  sed, venenatis venenatis sem. Maecenas rutrum, ligula sit amet congue iaculis, elit turpis pellentesque ex, quis
  imperdiet elit eros at massa.</div>

<div class="steps">
  <div class="item-steps">
    <div class="img-steps">
      <img src="/assets/icones/steps1.png" alt="">
      <p>1</p>
    </div>
    <h3 class="title-steps">Je choisis mon livre</h3>
    <section class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, illo.</section>
  </div>
  <div class="direction"><img src="/assets/icones/icone_direction.png" alt=""></div>
  <div class="item-steps">
    <div class="img-steps">
      <img src="/assets/icones/steps1.png" alt="">
      <p>2</p>
    </div>
    <h3 class="title-steps">Je choisis mon support</h3>
    <section class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, illo.</section>
  </div>
  <div class="direction"><img src="/assets/icones/icone_direction.png" alt=""></div>
  <div class="item-steps">
    <div class="img-steps">
      <img src="/assets/icones/steps1.png" alt="">
      <p>3</p>
    </div>
    <h3 class="title-steps">Je génère mon produit dérivé</h3>
    <section class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, illo.</section>
  </div>
</div>

<hr>

<h2 class="title">Découvrez nos nouveautés</h2>
<div>
  <div class="carousel-container">
    <div *ngFor="let book of books; let i = index" [style.display]="i === currentBookIndex ? 'flex' : 'none'"
      class="book-card">
      <div class="book-card-left">
        <img (click)="navigate(book.id)" class="book" src={{forimg}}{{book.coverPath}} alt="book.title">
      </div>
      <div class="book-card-right">
        <h2>{{ book.title }}</h2>
        <p>{{ book.summary }}</p>
      </div>
    </div>
    <div class="arrow-left" (click)="previousBook()">&lt;</div>
    <div class="arrow-right" (click)="nextBook()">&gt;</div>
  </div>
</div>

<hr>

<h2 class="title">Découvrez nos produits</h2>
<div class="produits">
  <div class="item-produit">
    <h4 class="item">Mug</h4>
    <div class="price">15 €</div>
    <section class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, illo.</section>
    <button class="btn">Détails</button>
    <div class="little-annotation">Lorem ipsum dolor sit amet.</div>
  </div>
  <div class="item-produit">
    <div class="popular">Popular</div>
    <h4 class="item">Poster</h4>
    <div class="price">20 €</div>
    <section class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, illo.</section>
    <button class="btn">Détails</button>
    <div class="little-annotation">Lorem ipsum dolor sit amet.</div>
  </div>
  <div class="item-produit">
    <h4 class="item">T-shirt</h4>
    <div class="price">25 €</div>
    <section class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, illo.</section>
    <button class="btn">Détails</button>
    <div class="little-annotation">Lorem ipsum dolor sit amet.</div>
  </div>
</div>

<hr>

<div class="newsletter">
  <div class="text-news">
    <h3 class="title-news">newsletter</h3>
    <section clas>Lorem ipsum dolor sit amet.</section>
  </div>
  <div class="subscription">
    <form class="form form-control" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div class="input">
        <input type="text" name="email" formControlName="email">
        <div *ngIf="emailForm.controls['email']?.errors && emailForm.controls['email']?.touched"
          class="invalid-feedback">
          <span *ngIf="emailForm.controls['email'].errors?.['required']" class="wrong">
            email is required
          </span>
          <span *ngIf=" emailForm.controls['email'].errors?.['email']" class="wrong">
            mail invalid
          </span>
        </div>
        <button class="btn-subcription" type="submit">Subscribe</button>
      </div>
    </form>
    <!-- <input class="email-subcription" type="text"> -->
  </div>
</div>

<hr>
